.outer {
    min-height: 25px;
    max-height: 80px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.outer::-webkit-scrollbar {
    display: none;
}

.dropdown {
    min-height: 25px;
    max-height: 112px;
}

select {
    background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none"xmlns="http://www.w3.org/2000/svg"><path d="M5 7.5L10 12.5L15 7.5" stroke="#667085"stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" /></svg>');
}

.full-wrap{
    width: 700px;
    height: 850px;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    border: 1px;

}

.toolbar-wrap{
    width: 96%;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0,0,0,0.2);
}

.editor-wrap{
    width: 650px;
    border: 1px solid black;
    height: 725px;
    overflow-y: scroll;
    margin-top: 20px;
    padding: 12px 14px 12px 14px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
}
.editor-wrap h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

