

.logo{
    display: flex;
padding: 0px 20px 0px 24px;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
}
.menu-section{
    display: flex;
padding: 0px 16px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
}
.user{
    display: flex;
padding: 0px 16px 32px 16px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
align-self: stretch;
}
.avatar{
    flex: 1 0 0;
align-self: stretch;
    
border-radius: 200px;
border: 0.75px solid var(--base-black, #000);

}
.menu-item{
    display: flex;
padding: 8px 12px;
align-items: center;
gap: 8px;
align-self: stretch;
border-radius: 6px;
background: var(--gray-50, #F9FAFB);
}
.user-item{
    display: flex;
align-items: center;
gap: 12px;
margin-left: -15px;
flex: 1 0 0;
}
.img-section{
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 200px;
    border: 0.75px solid var(--base-black, #000);
    width: 45px;
    height: 45px;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}


.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}