.outer {
    min-height: 25px;
    max-height: 80px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.outer::-webkit-scrollbar {
    display: none;
}

.dropdown {
    min-height: 25px;
    max-height: 112px;
}

select {
    background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none"xmlns="http://www.w3.org/2000/svg"><path d="M5 7.5L10 12.5L15 7.5" stroke="#667085"stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" /></svg>');
}

.full-wrap-tool{
    width: 618px !important;
    height: 300px !important;
    background-color: white !important;
    border-radius: 12px !important;
    padding: 20px !important;
    border: 1px !important;

}

.toolbar-wrap-tool{
    width: 100% !important;
    background-color: white !important;
    box-shadow: 0 3px 10px rgb(0,0,0,0.2) !important;
}

.editor-wrap-tool{
    border: 1px solid black !important;
    height: 190px !important;
    overflow-y: scroll !important;
    margin-top: 20px !important;
    padding: 12px 14px 12px 14px !important;
    line-height: 24px !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    border: 1px solid #D0D5DD !important;
    border-radius: 8px !important;
}
.editor-wrap-tool h1 {
    display: block !important;
    font-size: 2em !important;
    margin-top: 0.67em !important;
    margin-bottom: 0.67em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
  }